---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="relative mx-auto max-w-lg py-8">
	<div class="text-center">
	  <h2 class="text-3xl text-white font-bold mb-4">{title}</h2>
	</div>
	<!-- {image && <img src={image} alt={title} class="w-full h-auto max-w-md mx-auto mt-8 rounded-md shadow-md" />} -->
</div>