---

console.log('javascript')


---
<!-- CREACIÓN DEL MENÚ-->
<header class="bg-[#082B4F] py-8">
  <div class="flex items-center justify-around relative">
    <nav class="space-y-3">
      <ul class="flex">
        <li><a href="/" class="block text-center px-4 py-2 text-white text-sm">INICIO</a></li>
        <li><a href="juegos" class="block text-center px-4 py-2 text-white text-sm">JUEGOS</a></li>
        <li><a href="consola" class="block text-center px-4 py-2 text-white text-sm">CONSOLAS</a></li>
        <li><a href="blog" class="block text-center px-4 py-2 text-white text-sm">BLOG</a></li>
        <li><a href="foro" class="block text-center px-4 py-2 text-white text-sm">FORO</a></li>
        <li><a href="login" class="block text-center px-4 py-2 text-white text-sm">LOGIN</a></li>
      </ul>
      <div class="absolute left-0 bottom-0 h-[2px] w-full bg-[#4682B4]"></div>
    </nav>
  </div>
</header>
